In [1]:
import pandas as pd

In [2]:
import psycopg2 as ps

In [3]:
df = pd.read_csv('medicaid-potentially-preventable-emergency.csv')

In [4]:
df.head()

,Year,Patient Zip Code,Medicaid PPV Events,Medicaid Zip Code Population,Observed Rate per 100 People,Expected Rate per 100 People,Risk Adjusted Rate per 100 People,Difference in Rates,Dual Status
0,2014,100.0,174106,416834,41.77,33.37,39.86,8.40,Non-Dual
1,2014,100.0,196810,511508,38.48,31.34,37.78,7.14,Total
2,2014,100.0,22704,94674,23.98,22.17,25.91,1.81,Dual
3,2014,101.0,3131,8400,37.27,31.21,36.75,6.07,Total
4,2014,101.0,2529,6426,39.36,33.68,37.21,5.67,Non-Dual

In [5]:
df.tail()

,Year,Patient Zip Code,Medicaid PPV Events,Medicaid Zip Code Population,Observed Rate per 100 People,Expected Rate per 100 People,Risk Adjusted Rate per 100 People,Difference in Rates,Dual Status
403,2011,146.0,31806,140730,22.60,32.78,20.35,-10.18,Total
404,2011,147.0,19650,48300,40.68,27.96,42.94,12.72,Total
405,2011,148.0,18884,55050,34.30,27.75,36.48,6.55,Total
406,2011,149.0,10707,17496,61.20,29.69,60.84,31.51,Total
407,2011,NaN,1668458,5652856,29.52,NaN,NaN,NaN,Total

In [6]:
import sqlalchemy as sa

engine = sa.create_engine('postgresql://postgres:******@localhost:5432/postgres')
#adding connection to the postgres database

In [7]:
engine.connect()

In [8]:
%load_ext sql

In [9]:
%sql $engine.url

In [10]:
#creating table
%%sql CREATE TABLE IF NOT EXISTS Medicaid_Potentially_Preventable_Emergencies (
Year int,
Patient_Zip_Code int,
Medicaid_PPV_Events int,
Medicaid_Zip_Code_Population int,
Observed_Rate_per_100_People numeric(4,2), 
Expected_Rate_per_100_People numeric(4,2),
Risk_Adjusted_Rate_per_100_People numeric(4,2), 
Difference_in_Rates numeric(4,2),
Dual_Status varchar(8));

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [12]:
conn = engine.connect()

In [13]:
# transferring data from dataframe(df) to sql table 
df.to_sql('Medicaid_Potentially_Preventable_Emergencies', con=conn, if_exists='append', index=False)

408

In [14]:
#checking to see if transfer was successful 
%sql SELECT * FROM Medicaid_Potentially_Preventable_Emergencies LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(2014, 100, 174106, 416834, Decimal('41.77'), Decimal('33.37'), Decimal('39.86'), Decimal('8.40'), 'Non-Dual'),
 (2014, 100, 196810, 511508, Decimal('38.48'), Decimal('31.34'), Decimal('37.78'), Decimal('7.14'), 'Total'),
 (2014, 100, 22704, 94674, Decimal('23.98'), Decimal('22.17'), Decimal('25.91'), Decimal('1.81'), 'Dual'),
 (2014, 101, 3131, 8400, Decimal('37.27'), Decimal('31.21'), Decimal('36.75'), Decimal('6.07'), 'Total'),
 (2014, 101, 2529, 6426, Decimal('39.36'), Decimal('33.68'), Decimal('37.21'), Decimal('5.67'), 'Non-Dual')]

In [15]:
#cleaning data, deleting null rows 
%sql DELETE FROM Medicaid_Potentially_Preventable_Emergencies WHERE patient_zip_code IS NULL

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]

In [16]:
#checking to make sure null rows are deleted- should get a count of 400 instead of 408
%sql SELECT COUNT(*) FROM medicaid_potentially_preventable_emergencies

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(400,)]

In [17]:
#Counting how many different years are included in this dataset
%sql SELECT COUNT(DISTINCT year) FROM Medicaid_Potentially_Preventable_Emergencies

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(4,)]

In [18]:
#Showing the top 5 highest difference in rates (observed - expected) with their patient zip codes 
%sql SELECT patient_zip_code, difference_in_rates FROM Medicaid_Potentially_Preventable_Emergencies ORDER BY difference_in_rates DESC LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(102, Decimal('49.41')),
 (102, Decimal('41.02')),
 (102, Decimal('36.29')),
 (149, Decimal('35.72')),
 (149, Decimal('34.45'))]

In [30]:
#Looking at the average difference in rates by dual status 
%%sql 
SELECT dual_status, AVG(difference_in_rates) avg_difference
FROM Medicaid_Potentially_Preventable_Emergencies
GROUP BY dual_status

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('Total', Decimal('4.2656000000000000')),
 ('Non Dual', Decimal('4.0154000000000000')),
 ('Non-Dual', Decimal('4.6982000000000000')),
 ('Total ', Decimal('3.5103333333333333')),
 ('Dual', Decimal('2.8514000000000000'))]

In [31]:
#Looking at the highest average difference in rates by dual status. Since there are negative numbers in the table, I want to separate between the average rates > 0 and rates < 0. 
%%sql
SELECT dual_status, AVG(difference_in_rates) AS avg_difference
FROM (SELECT dual_status, difference_in_rates
      FROM Medicaid_Potentially_Preventable_Emergencies 
      WHERE difference_in_rates > 0) sub
GROUP BY dual_status
ORDER BY avg_difference DESC;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('Non-Dual', Decimal('11.8732142857142857')),
 ('Non Dual', Decimal('11.1285185185185185')),
 ('Total', Decimal('10.9060714285714286')),
 ('Total ', Decimal('10.3073493975903614')),
 ('Dual', Decimal('7.7700000000000000'))]

In [32]:
#Running the same query as before, except by year. 
%%sql
SELECT year, AVG(difference_in_rates) AS avg_difference
FROM (SELECT year, difference_in_rates
      FROM Medicaid_Potentially_Preventable_Emergencies 
      WHERE difference_in_rates > 0) sub
GROUP BY year
ORDER BY avg_difference DESC;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[(2012, Decimal('10.8860714285714286')),
 (2014, Decimal('9.9815116279069767')),
 (2011, Decimal('9.8942857142857143')),
 (2013, Decimal('9.8324691358024691'))]

In [33]:
#Looking at the top 5 average difference in rates by zip code. Where the observed > expected rate
%%sql
SELECT patient_zip_code, AVG(difference_in_rates) AS avg_difference
FROM (SELECT patient_zip_code, difference_in_rates
      FROM Medicaid_Potentially_Preventable_Emergencies 
      WHERE difference_in_rates > 0) sub
GROUP BY patient_zip_code
ORDER BY avg_difference DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(149, Decimal('26.1312500000000000')),
 (102, Decimal('24.8887500000000000')),
 (122, Decimal('21.9587500000000000')),
 (136, Decimal('20.9912500000000000')),
 (123, Decimal('17.6887500000000000'))]

In [34]:
#Looking at the top 5 average difference in rates by zip code. Where the expected > observed rate
%%sql
SELECT patient_zip_code, AVG(difference_in_rates) AS avg_difference
FROM (SELECT patient_zip_code, difference_in_rates
      FROM Medicaid_Potentially_Preventable_Emergencies 
      WHERE difference_in_rates < 0) sub
GROUP BY patient_zip_code
ORDER BY avg_difference 
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(109, Decimal('-11.9014285714285714')),
 (110, Decimal('-8.5712500000000000')),
 (145, Decimal('-8.2500000000000000')),
 (139, Decimal('-7.5900000000000000')),
 (115, Decimal('-6.2762500000000000'))]